@charset"UTF-8";

* {
    font-family: PingFangSC, Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, \5fae\8f6f\96c5\9ed1, tahoma, simsun, sans-serif;

}

body {
    width: 100%;
    height: 100%;
    background: #f8f8f8;

    .m-head {
        height: 64px;
        line-height: 64px;
        background: #fff;
        margin-bottom: 22px;

        .u-cnt {
            width: 1100px;
            margin: 0 auto;
            line-height: 64px;
            height: 64px;

            .u-logo {
                float: left;

                .u-img {
                    width: 168px;
                    height: 24px;
                    vertical-align: middle;
                    cursor: pointer;
                    margin-top: 18px;
                }
            }

            .u-lh {
                font-size: 14px;
                color: #222;
                float: right;
                height: 20px;
                line-height: 20px;
                margin-top: 20px;

                .u-lh-txt {
                    display: inline-block;
                    color: #222;
                }

                .u-lh-new {
                    background: #fe4313;
                    border-radius: 12px;
                    width: 32px;
                    height: 16px;
                    line-height: 14px;
                    text-align: center;
                    font-size: 12px;
                    color: #fff;
                    display: inline-block;
                    position: relative;
                    top: -2px;
                }
            }
        }
    }

    #app {
        position: relative;
        width: 1100px;
        padding-bottom: 100px;
        margin: 0 auto;
        background: #fff;

        .stepguide {
            width: 540px;
            margin: 0 auto;
            padding-top: 60px;

            .step {
                float: left;
                color: #cdcdcd;
                width: 179px;
                position: relative;
                text-align: center;
                font-size: 15px;

            }

            .stepcurrent {
                color: #2c82ff;
                font-weight: 700;
            }
        }

        #step0-btn {
            display: block;
        }

        .box {
            width: 444px;
            padding: 20px 0;
            margin: 20px auto 0;
            display: none;

            .nop-form-item {
                font-size: 14px;

                .nop-form-item-input {
                    position: relative;
                    height: 76px;

                    .bview-input-wrapper {
                        position: relative;
                        display: inline-block;
                        height: 46px;

                        .bview-input {
                            width: 100%;
                            height: 100%;
                            padding: 0 44px 0 10px;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            border: 1px solid #ccc;
                            // border-color: red;
                            // border: 1px solid #ea3d3d;
                            border-radius: 2px;
                            font-size: 14px;
                            background: #fff;
                            line-height: 32px;
                            vertical-align: middle;
                            outline: none;
                        }

                        .bview-input-icon {
                            width: 42px;
                            height: 44px;
                            line-height: 44px;
                            font-size: 17px;
                            text-align: center;
                            color: #ccc;
                            position: absolute;
                            // background: #fff;
                            // background: salmon;
                            right: 1px;
                            top: 1px;
                            z-index: 3;
                            display: none;

                            .iconfont {
                                font-size: 26px;
                            }
                        }

                        .ieplaceholder {
                            width: 99.5%;
                            height: 44px;
                            position: absolute;
                            z-index: 201;
                            top: 1px;
                            left: 1px;
                            color: #bdbdbd;
                            font-size: 14px;
                            font-weight: 400;
                            cursor: text;
                            line-height: 44px;
                            text-indent: 14px;
                            background: #fff;
                        }

                    }

                    // .nop-form-item-tip {
                    //     display: none;
                    //     min-height: 28px;
                    //     margin-top: 2px;
                    //     font-size: 14px;
                    //     color: #ea3d3d;
                    // }

                    .error {
                        display: none;
                        min-height: 28px;
                        margin-top: 2px;
                        font-size: 14px;
                        color: #ea3d3d;
                        display: block;
                    }
                }
            }

            .agree {
                -webkit-tap-highlight-color: transparent;
                margin: 0;
                color: #666;
                font-size: 14px;
                position: relative;
                padding-left: 24px;
                cursor: pointer;

                #infont {
                    float: left;
                    display: block;
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    left: 3px;
                    top: 4px;
                    border: 1px solid #2c82ff;
                    border-radius: 2px;
                }

                .u-agree-area {
                    float: left;

                    a {
                        color: #2c82ff;
                    }
                }
            }

            .step0-btn {
                display: inline-block;
                vertical-align: middle;
                height: 46px;
                line-height: 46px;
                border-color: #2c82ff;
                background-color: #2c82ff;
                width: 100%;
                margin-top: 10px;
                border-radius: 2px;
                border-width: 0;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                color: #fff;
                cursor: pointer;
                position: relative;
                font-weight: 700;
                outline: none;
                font-size: 17px;
            }

            .m-gologin {
                font-size: 14px;
                color: #333;
                margin-top: 10px;

                .u-href {
                    color: #2c82ff;
                }
            }

        }

        // 注册第二部样式
        .box1 {
            width: 444px;
            height: 316px;
            padding: 20px 0;
            margin: 20px auto 0;
            // background: skyblue;
            display: none;

            .m-realname {
                font-size: 14px;

                .u-title {
                    font-weight: 700;
                    padding: 12px 0 30px 12px;
                    position: relative;
                    text-align: left;
                    font-size: 16px;
                    color: #141b3b;
                }

                .m-box {
                    width: 444px;
                    margin: 0 auto;
                    font-size: 14px;

                    .u-note {
                        margin-bottom: 10px;
                        text-align: left;
                        color: #141b3b;
                        background: #f8f8f8;
                    }

                    .form-item {
                        font-size: 14px;
                        width: 444px;
                        height: 76px;

                        .bview-input {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            height: 46px;

                            .intp-box {
                                width: 100%;
                                height: 100%;
                                padding: 0 44px 0 10px;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                border: 1px solid #ccc;
                                border-radius: 2px;
                                font-size: 14px;
                                background: #fff;
                                line-height: 32px;
                                vertical-align: middle;
                                outline: none;

                            }
                        }

                        // .item-tip {
                        //     display: none;
                        //     min-height: 28px;
                        //     margin-top: 2px;
                        //     font-size: 14px;
                        //     color: #ea3d3d;
                        //     display: block;
                        // }

                        .error {
                            display: none;
                            min-height: 28px;
                            margin-top: 2px;
                            font-size: 14px;
                            color: #ea3d3d;
                            display: block;
                        }
                    }

                    .m-btn {
                        display: inline-block;
                        vertical-align: middle;
                        height: 46px;
                        line-height: 46px;
                        border-color: #2c82ff;
                        background-color: #2c82ff;
                        width: 100%;
                        margin-top: 10px;
                        border-radius: 2px;
                        border-width: 0;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        color: #fff;
                        cursor: pointer;
                        position: relative;
                        font-weight: 700;
                        outline: none;
                        font-size: 17px;

                    }
                }
            }
        }

        // 注册第三步
        .box2 {
            width: 444px;
            height: 316px;
            padding: 20px 0;
            margin: 20px auto 0;
            // background: skyblue;
            display: none;

            .m-realphone {
                font-size: 14px;

                .u-title {
                    font-weight: 700;
                    padding: 12px 0 30px 12px;
                    position: relative;
                    text-align: left;
                    font-size: 16px;
                    color: #141b3b;
                }

                .u-box {
                    width: 444px;
                    margin: 0 auto;
                    font-size: 14px;

                    .note {
                        margin-bottom: 10px;
                        text-align: left;
                        color: #141b3b;
                        background: #f8f8f8;
                    }

                    .form-phone {
                        font-size: 14px;
                        width: 444px;
                        height: 76px;

                        .bview-input {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            height: 46px;

                            .pnone-time {
                                width: 100%;
                                height: 100%;
                                padding: 0 5px 0 50px;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                border: 1px solid #ccc;
                                border-radius: 2px;
                                font-size: 14px;
                                background: #fff;
                                line-height: 32px;
                                vertical-align: middle;
                                outline: none;
                            }

                            .bview-input-icon-prepend {
                                cursor: pointer;
                                position: absolute;
                                left: .28rem;
                                bottom: .2em;
                                width: 3.5em;
                                height: 2.5em;
                                z-index: 11;
                                font-size: 14px;
                                line-height: 2em;

                                em {
                                    left: .3em;
                                    height: 2em;
                                    width: 3em;
                                    text-align: center;
                                    margin: .4em 0 0;
                                    margin-left: 0.8em;
                                    color: #666;
                                }

                            }
                        }

                        .error {
                            display: none;
                            min-height: 28px;
                            margin-top: 2px;
                            font-size: 14px;
                            color: #ea3d3d;
                            display: block;
                        }
                    }

                    .verification {
                        font-size: 14px;
                        width: 444px;
                        height: 76px;

                        .bview-input {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            height: 46px;

                            .code-itme {
                                width: 45%;
                                height: 100%;
                                padding: 0 5px 0 10px;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                                border: 1px solid #ccc;
                                border-radius: 2px;
                                font-size: 14px;
                                background: #fff;
                                line-height: 32px;
                                vertical-align: middle;
                                outline: none;
                            }

                            .identifying-code {
                                cursor: pointer;
                                position: absolute;
                                // left: 0px;
                                bottom: 0px;
                                width: 150px;
                                height: 100%;
                                right: 20px;
                                // z-index: 11;
                                font-size: 14px;
                                line-height: 2em;
                                // background: lightpink;
                            }
                        }

                        .error {
                            min-height: 28px;
                            margin-top: 2px;
                            font-size: 14px;
                            color: #ea3d3d;
                            display: block;
                        }
                    }

                    .s-btn {
                        display: inline-block;
                        vertical-align: middle;
                        height: 46px;
                        line-height: 46px;
                        border-color: #2c82ff;
                        background-color: #2c82ff;
                        width: 100%;
                        margin-top: 10px;
                        border-radius: 2px;
                        border-width: 0;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        color: #fff;
                        cursor: pointer;
                        position: relative;
                        font-weight: 700;
                        outline: none;
                        font-size: 17px;
                    }
                }

            }
        }
    }

    .g-ft {
        width: 100%;
        height: 100%;

        .bview-footer {
            height: 150px;
            width: 100%;

            .m-c {
                padding-top: 46px;
                margin: 0 auto;
                text-align: center;
                font-size: 12px;
                line-height: 20px;
                color: #b8b8b8;

                .u-link {
                    text-align: center;

                    a {
                        cursor: pointer;
                        margin: 0 5px;
                        color: #b8b8b8;
                    }
                }

                .u-icp {
                    margin: 6px 0;
                }
            }
        }
    }
}